<div class="container-fluid hero-header bg-light py-5 mb-5">
  <div class="container py-5">
      <div class="row g-5 align-items-center">
          <div class="col-lg-6">
              <h1 class="display-4 mb-3 animated slideInDown">Spéculez, investissez et innovez avec ZenithInvest</h1>
              <p class="animated slideInDown">Votre plateforme dédiée à la finance moderne, à la spéculation et à la gestion du risque sur les marchés financiers.</p>
              <a href="#about" class="btn btn-primary py-3 px-4 animated slideInDown">Découvrir la finance & spéculation</a>
          </div>
          <div class="col-lg-6 animated fadeIn">
              <img class="img-fluid animated pulse infinite" style="animation-duration: 3s;" src="img/about.png" alt="">
          </div>
      </div>
  </div>
</div>