<div class="container-xxl bg-light py-5 my-5">
  <div class="container py-5">
      <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-6"></h1>
          <p class="text-primary fs-5 mb-5">Des moyens de paiement rapides et sécurisés pour vos opérations financières et spéculatives</p>
      </div>
      <div class="row g-3">
          <div class="col-12 text-center">
              <img class="img-fluid m-1" src="img/payment-1.png" alt="" style="width: 50px;">
              <img class="img-fluid m-1" src="img/payment-2.png" alt="" style="width: 50px;">
              <img class="img-fluid m-1" src="img/payment-3.png" alt="" style="width: 50px;">
          </div>
      </div>
  </div>
</div>