<div class="container-xxl bg-light py-5 my-5">
  <div class="container py-5">
      <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-6">Nos services</h1>
          <p class="text-primary fs-5 mb-5">Investissez, gérez et développez votre patrimoine financier avec ZenithInvest</p>
      </div>
      <div class="row g-4">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item bg-white p-5">
                  <img class="img-fluid mb-4" src="img/icon-7.png" alt="">
                  <h5 class="mb-3">Portefeuille multi-actifs</h5>
                  <p>Gérez vos actions, obligations, devises et matières premières depuis une seule plateforme sécurisée.</p>
                  <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item bg-white p-5">
                  <img class="img-fluid mb-4" src="img/icon-3.png" alt="">
                  <h5 class="mb-3">Exécution d'ordres</h5>
                  <p>Passez vos ordres d'achat et de vente en temps réel sur les principaux marchés mondiaux.</p>
                  <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item bg-white p-5">
                  <img class="img-fluid mb-4" src="img/icon-9.png" alt="">
                  <h5 class="mb-3">Conseil en investissement</h5>
                  <p>Bénéficiez de l'expertise de nos analystes pour optimiser vos stratégies et vos placements.</p>
                  <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
              <div class="service-item bg-white p-5">
                  <img class="img-fluid mb-4" src="img/icon-5.png" alt="">
                  <h5 class="mb-3">Formation au trading</h5>
                  <p>Accédez à nos modules de formation pour maîtriser les marchés financiers et progresser en toute autonomie.</p>
                  <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="service-item bg-white p-5">
                  <img class="img-fluid mb-4" src="img/icon-2.png" alt="">
                  <h5 class="mb-3">Gestion sous mandat</h5>
                  <p>Confiez la gestion de votre portefeuille à nos experts pour une performance optimale et un suivi personnalisé.</p>
                  <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item bg-white p-5">
                  <img class="img-fluid mb-4" src="img/icon-8.png" alt="">
                  <h5 class="mb-3">Analyse de marché</h5>
                  <p>Recevez chaque jour nos analyses et signaux pour anticiper les tendances et prendre les meilleures décisions.</p>
                  <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>