<div class="container-xxl bg-light py-5 my-5">
  <div class="container py-5">
      <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-6">Nos services</h1>
          <p class="text-primary fs-5 mb-5">Spéculez, investissez et développez votre capital avec ZenithInvest</p>
      </div>
      <div class="row g-4">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="service-item bg-white p-5">
              <img class="img-fluid mb-4" src="img/icon-8.png" alt="">
              <h5 class="mb-3">Analyse de marché spéculatif</h5>
              <p>Recevez chaque jour nos analyses, signaux et alertes pour anticiper les tendances et saisir les meilleures opportunités de spéculation.</p>
              <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item bg-white p-5">
            <img class="img-fluid mb-4" src="img/icon-5.png" alt="">
            <h5 class="mb-3">Formation à la spéculation</h5>
            <p>Accédez à nos modules de formation pour maîtriser la spéculation, la gestion du risque et progresser sur les marchés financiers.</p>
            <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
        </div>
    </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="service-item bg-white p-5">
                  <img class="img-fluid mb-4" src="img/icon-9.png" alt="">
                  <h5 class="mb-3">Conseil en stratégies dynamiques</h5>
                  <p>Bénéficiez de l'expertise de nos analystes pour optimiser vos stratégies de spéculation et d'investissement.</p>
                  <a href="">Découvrir <i class="fa fa-arrow-right ms-2"></i></a>
              </div>
          </div>
      </div>
  </div>
</div>