    <!-- Spinner Start
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-grow text-primary" role="status"></div>
  </div>
  Spinner End -->


  <!-- Navbar Start -->
  <!-- <app-nav></app-nav> -->
  <!-- Navbar End -->


  <!-- Header Start -->
  <app-hero></app-hero>
  <!-- Header End -->


  <!-- About Start -->
<app-about></app-about>
  <!-- About End -->


  <!-- Facts Start -->
  <!-- <div class="container-xxl bg-light py-5 my-5">
      <div class="container py-5">
          <div class="row g-5">
              <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.1s">
                  <img class="img-fluid mb-4" src="img/icon-9.png" alt="">
                  <h1 class="display-4" data-toggle="counter-up">123456</h1>
                  <p class="fs-5 text-primary mb-0">Opérations réalisées aujourd'hui</p>
              </div>
              <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.3s">
                  <img class="img-fluid mb-4" src="img/icon-10.png" alt="">
                  <h1 class="display-4" data-toggle="counter-up">123456</h1>
                  <p class="fs-5 text-primary mb-0">Opérations ce mois-ci</p>
              </div>
              <div class="col-lg-4 col-md-6 text-center wow fadeIn" data-wow-delay="0.5s">
                  <img class="img-fluid mb-4" src="img/icon-2.png" alt="">
                  <h1 class="display-4" data-toggle="counter-up">123456</h1>
                  <p class="fs-5 text-primary mb-0">Opérations totales</p>
              </div>
          </div>
      </div>
  </div> -->
  <!-- Facts End -->


  <!-- Features Start -->

  <!-- Features End -->


  <!-- Service Start -->
  <app-services></app-services>
  <!-- Service End -->


  <!-- Roadmap Start -->
  <app-roadmap></app-roadmap>
  <!-- Roadmap End -->


  <!-- Token Sale Start -->
<app-outils></app-outils>
  <!-- Token Sale Start -->


  <!-- FAQs Start -->
<app-faq></app-faq>
  <!-- FAQs Start -->


  <!-- Footer Start -->
<!-- <app-footer></app-footer> -->
  <!-- Footer End -->


  <!-- Back to Top -->
  <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
